extends ../layout/main

block content
  .container
    h2.text-center.mb-4(style="color: #241375") Lista de Historias Clínicas

    if error
      .alert.alert-danger= error

    if historias.length
      table.table.table-striped
        thead
          tr
            th ID
            th ID Paciente
            th Antecedentes
            th Diagnóstico
            th Tratamiento
        tbody
          each historia in historias
            tr
              td= historia.id
              td= historia.id_paciente
              td= historia.antecedentes
              td= historia.diagnostico
              td= historia.tratamiento
    else
      p.text-muted No hay historias clínicas registradas.
